<template>
<div class="Home">
  <h1>Login success</h1>
  {{user__username}}
  </div>
</template>
<script>

import axios from "axios";

export default {
  name: "Home",
 
  data() {
    return {
    user__username:"",
    };
  },
  created() {
    console.log(this.data, "data");
    axios
      .get("https://api.vaudience.com/api/userroles/?user__username=jb@vaudience.com")
      .then(response => (this.user__username = response.data)),
      error => {
        console.error(error);
      };
  }
};
</script>