<template>
  <div id="Login">
    <div class="container">
      <form>
        <b>Username</b>

        <input type="text" v-model="input.email">
        <br>

        <b>Password</b>

        <input type="password" v-model="input.password">

        <button type="button" v-on:click="login()">Login</button>
        {{response}}
      </form>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Login",
  data() {
    return {
      input: {
        email: "",
        password: ""
      },
      response: ""
    };
  },
  methods: {
    login() {
      //   console.log(this.input, "input");
      var formData = new FormData();
      let email = this.input.email;
      let password = this.input.password;
      formData.append("username", email);
      formData.append("password", password);
      axios({
        method: "POST",
        url: "https://api.vaudience.com/api/login/",
        data: formData,
        headers: { "content-type": "application/json" }
      }).then(result => {
        this.response = result.data;
        //console.log(result.data);
      });
      //   then(
      //

      //this.$router.push("/Home");
      //   );
    }
  }
};
</script>
